@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@300;700&display=swap');


/* resets */
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}


/* good practices to define constants at one place */
:root{
    --primary-text-color: white;
    --secondary-heading-text-color: #183547;
    --secondary-text-color: #061d29;
    --padding-inline-section: 20px;
    --footer-section-color: #fffded;
    --dark-green-color: #006e75;
    --light-green-color: #0b978e;
    --card-bg-color: #F5FAFE;
    --process-bar-color: #E1EBF5;
    --credit-card-color: #425D6C;
    --links-hover: #BDD2D5;
}

body{
    font-family: 'Poppins', sans-serif;
    color: var(--secondary-heading-text-color);
    background-color: var(--dark-green-color);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.5rem;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    color: var(--secondary-text-color);
    line-height: 1.8rem;
    font-weight: 300;
}



a {
    text-decoration: none;
    display: inline-block;
}

.flex {
    display: flex;
    align-items: center;

}


/* utility classes */
.container {
    max-width: 1180px;
    margin-inline: auto; /* so that container is in center */
    padding-inline: var(--padding-inline-section);
}

.green-background-body {
    background-color: var(--dark-green-color);
}

.white-background-section {
    background-color: white;
    margin-top: 50px;
}

ul {
    list-style: none;
}

.hover-links {
    color: var(--primary-text-color);
}

.hover-links:hover {
    color: var(--links-hover);
    transition: 0.2s ease-out;
}

.primary-button {
    background-color: var(--primary-text-color);
    border-radius: 6px;
    font-weight: 500;
    padding: 15px;
    color: var(--secondary-text-color);
    transition: 0.2s ease-out;
}

/* .primary-button:hover{
    animation: alternate;
    
} */

.secondary-button {
    border: 1px solid var(--primary-text-color);
    border-radius: 6px;
    font-weight: 500;
    padding: 12px 11px;
    color: var(--primary-text-color) !important;
    transition: 0.2s ease-out;
}

/* nav bar */
.main-nav {
    margin-top: 20px;
    justify-content: space-between;
}

.nav-links {
    flex-basis: 730px;
}

.nav-links ul {
    justify-content: end;
    gap: 40px;
}

/* header section */

.header {
    padding: 50px var(--padding-inline-section) 0;
}

.white-text {
    color: white;
}

.header-section {
    justify-content: space-evenly;
    gap: 100px;
}

.header-left img {
    width: 500px;
    justify-content: start
}

.header-left{
    justify-content: start;
}

.header-right img {
    width: 500px;
    justify-content: end;
}

.header-right {
    justify-content: end;
}

.header-center h1 {
    text-align: center;
    width: 500px;
}

.header-center p {
    text-align: center;
    padding: 10px;
    margin-top: 10px;
}

.header-center a {
    margin-top: 20px;
    justify-content: center;
    margin-left: 170px;
}

/* companies section */

.logos {
    justify-content: space-between;
    flex-wrap: wrap;
}

.logo {
    height: 40px;
}

/* features section */

.features-section {
    padding: 40px var(--padding-inline-section) 0;
    margin: 20px;
}

.features-header {
    text-align: center;
}

.features-heading-text {
    margin-bottom: 20px;
}

.features-area {
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}

.features-card {
    background-color: var(--card-bg-color);
    border-radius: 20px;
    padding: 20px;
    flex-direction: column;
    max-width: 50%;
    text-align: center;
    width: 450px;
}

.card-image {
    width: 400px;
}

.see-platform-overview {
    color: var(--secondary-text-color) !important;
    border-color: var(--secondary-text-color);
    margin-bottom: 40px;
    margin-left: 470px;
}

/* how it works section */

.how-it-works {
    padding: 50px var(--padding-inline-section) 20px;
    text-align: left;
    
}

.how-it-works-section {
    justify-content: center;
    gap: 50px;
    padding-block: 80px;
    
}

.how-it-works-left {
    max-width: 40vw;
    
}

.how-it-works-left h2 {
    margin-top: 20px;
}

.how-it-works-right img {
    width: 600px;
}

.small-card-section {
    /* text-align: left; */
    border-radius: 20px;
    padding: 20px;
    margin: 10px;
}


.small-card-section:hover {
    background-color: var(--card-bg-color);
    cursor: pointer;
}

/* get started section */

.get-started-area {
    justify-content: space-between;
    gap: 40px;
    margin-top: 40px;
}


.get-started-card {
    flex-direction: column;
    border-radius: 20px;
    padding: 20px;
    max-width: 50%;
    text-align: left;
    width: 450px;
    margin-bottom: 50px;
    /* align-items: start; */
}

.get-started-image {
    width: 600px;
    border-radius: 20px;
    margin: 20px;
    /* align-items: start; */
}

.get-started-h3 {
    margin-bottom: 10px;
}


/* .get-started-card p {
    padding-bottom: 20px;
} */

/* .get-started-secondary-button {
    color: var(--secondary-text-color);
} */

/* review section */

.review-section-container{
    justify-content: space-between;
    gap: 200px;
}

.review-section-flex-left h3{
    margin-top: 20px;
    color: white;
    font-weight: 300;
}

.review-section-flex-left p{
    margin-top: 20px;
    color: white;
    font-weight: 300;
}

.review-image {
    width: 400px;
}

.review-section-flex-right {
    margin-top: 100px;
    margin-bottom: 100px;
}

/* try for free */

.try-for-free {
    padding-top: 30px;
}

.yellow-background {
    background-color: #FFFDED;
}

.try-for-free-button {
    color: white;
    background-color: var(--dark-green-color);
    padding: 20px;
}


.try-for-free-credit {
    color: var(--credit-card-color);
}

/* footer */
footer {
    padding-block: 80px;
}


.footer-container {
    align-items: flex-start;
    justify-content: space-between;
}

.link-column {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    
}

.link-column a {
    color: var(--secondary-text-color);
    /* margin: 5px; */
}

.link-column a:hover {
    color: var(--credit-card-color);
}

.company-logo img{
    width: 200px;
    fill: #061d29;
}

/* sub footer */
.sub-footer-hover-links {
    color: var(--secondary-text-color);

}

.sub-footer {
    justify-content: space-between;
    padding: var(--padding-inline-section);
}

.subfooter-container {
    justify-content: space-evenly;
    gap: 20px;  
}


